# Node backend
backend/node_modules/
backend/dist/
backend/src/config/certs/*.pem
backend/.env

# Angular frontend
frontend/jbhub/node_modules/
frontend/jbhub/dist/
frontend/jbhub/.angular/

# Logs
*.log

# Env global
.env
.env.*

# IDE
.vscode/
.idea/

# Database dumps & SQL
*.sql
structure.txt

# OS
.DS_Store

